body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: slategrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;


    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 1%;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
.color h1 {
    margin-left: 52px;
    position: absolute;
    top: 8%;
    color:cornflowerblue;
}
.color {
    background-color: grey;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0%;
}
.User {
    position: absolute;
    top: 15.22%;
    font-size:10px;
    left:44%;
}
      

.fa-user-circle{
    position:absolute;
    top:15%;
    font-size:48px;
    left:10%;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

    .searchTerm:focus {
        color: #00B4CC;
    }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
   
  
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 80%;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.searchTerm {
    border-radius: 50px;
}

.dashboard a {
    position: absolute;
    top: 35%;
}
.employeeinfo a {
    position: absolute;
    top: 42%;
}
.payrollmanage a {
    position: absolute;
    top: 52%;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
.mainform h2{
    position:absolute;
    left:3%;
    top:0.50%;
    color:white;
}
.mainform {
    background-color: grey;
    width: 74%;
    height: 82%;
    position: absolute;
    top: 14%;
    left:17.50%;
}
.mainform hr{
    width:70%;
    position:absolute;
    top:10%;
    left:3%;
   
}
.search1 {
    width: 50%;
    position: absolute;
    display: flex;
    top:20%;
    left:14%;
}
.searchTerm1 {
    width: 25%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 50px;
    outline: none;
    color: #9DBFAF;
}
.search2 {
    width: 50%;
    position: absolute;
    display: flex;
    top: 20%;
    left: 68%;
}
.searchTerm2 {
    width: 29%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 50px;
    outline: none;
    color: #9DBFAF;
}
.search3 {
    width: 50%;
    position: absolute;
    display: flex;
    top: 20%;
    left: 85%;
}
.searchTerm3 {
    width: 29%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 50px;
    outline: none;
    color: #9DBFAF;
}
.id h1 {
    position: absolute;
    top: -28%;
    left: 3%;
    font-size: 25px;
    color: white;
}
.id {
    background-color: darkgrey;
    width: 74.01%;
    height: 45px;
    position: absolute;
    top: 33%;
    left:17.50%;
}

.NameEmployee h1 {
    position: absolute;
    top: 31.20%;
    left: 23%;
    font-size: 25px;
    color: white;
}
.department h1 {
    position: absolute;
    top: 31.20%;
    left: 38%;
    font-size: 25px;
    color:white;
}
.bonuses h1 {
    position: absolute;
    top: 31.20%;
    left: 51%;
    font-size: 25px;
    color: white;
}
.overtime h1 {
    position: absolute;
    top: 31.20%;
    left: 61%;
    font-size: 25px;
    color: white;
}
.late h1 {
    position: absolute;
    top: 31.20%;
    left: 72%;
    font-size: 25px;
    color: white;
}
.absences h1 {
    position: absolute;
    top: 31.20%;
    left: 79%;
    font-size: 25px;
    color: white;
}
.fa-user-alt {
    position: absolute;
    top: 8.50%;
    left: 83.50%;
    font-size: 25px;
    color: black;
}
.admin h1 {
    position: absolute;
    top: 5.80%;
    left: 86%;
    font-size: 25px;
    color: black;
}
.number1 h1 {
    position: absolute;
    top: 39%;
    left: 20%;
    font-size: 25px;
    color: white;
}
.number2 h1 {
    position: absolute;
    top: 48%;
    left: 20%;
    font-size: 25px;
    color: white;
}
.number3 h1 {
    position: absolute;
    top: 57%;
    left: 20%;
    font-size: 25px;
    color: white;
}
.number4 h1 {
    position: absolute;
    top: 67%;
    left: 20%;
    font-size: 25px;
    color: white;
}
.number5 h1 {
    position: absolute;
    top: 77%;
    left: 20%;
    font-size: 25px;
    color: white;
}
.employee1 {
    position: absolute;
    top: 39%;
    left: 23%;
    font-size: 20px;
    color: turquoise;
}
.employee2 {
    position: absolute;
    top: 48%;
    left: 23%;
    font-size: 20px;
    color: turquoise;
}
.employee3 {
    position: absolute;
    top: 57%;
    left: 23%;
    font-size: 20px;
    color: turquoise;
}
.employee4 {
    position: absolute;
    top: 67%;
    left: 23%;
    font-size: 20px;
    color: turquoise;
}
.employee5 {
    position: absolute;
    top: 77%;
    left: 23%;
    font-size: 20px;
    color: turquoise;
}
.department1 {
    position: absolute;
    top: 39%;
    left: 39.50%;
    font-size: 20px;
    color: turquoise;
}
.department2 {
    position: absolute;
    top: 48%;
    left: 39.50%;
    font-size: 20px;
    color: turquoise;
}
.department3 {
    position: absolute;
    top: 57%;
    left: 39.50%;
    font-size: 20px;
    color: turquoise;
}
.department4 {
    position: absolute;
    top: 67%;
    left: 39.50%;
    font-size: 20px;
    color: turquoise;
}
.department5{
    position: absolute;
    top: 77%;
    left: 39.50%;
    font-size: 20px;
    color: turquoise;
}
.buttons {
    position: absolute;
    top: 88%;
    left: 80%;
    width: 145px;
    height: 40px;
    color: white;
    background-color: darkgrey;
    border:0px;
    font-size:11px;
    transition:0.50s;
}
    .buttons:hover {
        transform: scale(1.1);
    }
.fa-circle {
    position: absolute;
    top: 17.50%;
    font-size:17px;
    left: 34%;
    color:darkorange;
}